beautifulsoup4==4.11.1
bs4==0.0.1
certifi==2021.10.8
charset-normalizer==2.0.12
click==8.1.2
cloudscraper==1.2.60
idna==3.3
importlib-metadata==4.11.3
Markdown==3.3.6
mdtable==0.2
Pygments==2.11.2
pyparsing==3.0.8
requests==2.27.1
requests-toolbelt==0.9.1
soupsieve==2.3.2
urllib3==1.26.9
zipp==3.8.0
